<h2 class="text-center">Users</h2>
<div class="wrapper">    
    <div class="table">
      
      <div class="row header red">
        <div class="cell">
          Name
        </div>
        <div class="cell">
          username
        </div>
        <div class="cell">
            Password
        </div>
        
        
      </div>
      
      <div class="row">
        <div class="cell">
            Rohit
          </div>
          <div class="cell">
            rohit123
          </div>
          <div class="cell">
            pass123
          </div>
      </div>
      
     
      
    </div>
    
    
  </div>

