<h2 class="text-center">Users</h2>
<div class="wrapper">    
    <div class="table">
      
      <div class="row header red">
        <div class="cell">Sr. No</div>
        <div class="cell">Name</div>
        <div class="cell">Email</div>
        <div class="cell">Address</div>
      
      </div>
      
      <div class="row" *ngFor="let i of users,let m=index">
        <div class="cell">{{m+1}}</div>
        <div class="cell">{{i.name}}</div> 
        <div class="cell">{{i.email}}</div> 
        <div class="cell">{{i.address}}</div>
      </div>
      
     
      
    </div>
    
    
  </div>

