<h2 class="text-center">Orders List</h2>
<table class="table">
    <caption>List of Orders</caption>
    <thead>
      <tr>
        <th scope="col">Prod Img</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Type</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Amount</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Pinapple Cake</td>
        <td>500</td>
        <td>Veg</td>
        <td>Cakes</td>
        <td>2</td>
        <td>400</td>

      </tr>
      
    </tbody>
  </table>
