<h2 class="text-center">Products</h2>
<div class="wrapper">    
    <div class="table">
      
      <div class="row header green">
        <div class="cell">
          Product Img
        </div>
        <div class="cell">
          Name
        </div>
        <div class="cell">
            Price
        </div>
        <div class="cell">
          Category
        </div>
        <div class="cell">
          Type
        </div>
        <div class="cell">
            Stock
          </div>
      </div>
      
      <div class="row">
        <div class="cell">
            
          </div>
      </div>
      
     
      
    </div>
    
    
  </div>
